- What is Python: https://en.wikipedia.org/wiki/Python_(programming_language)

- We will be using Python 2.7 for this course but Python 3.5 is similar.

- Ipython Notebook.

### Variables

In [1]:
a=2
print a

2

In [2]:
type(a)

int

In [3]:
a=a+a
a

4

In [4]:
a=lambda x: x**2

In [5]:
type(a)

function

In [6]:
a(2)

4

### Types and Typecasting

In [7]:
print type("5")
print type(5)
print type(5.0)

<type 'str'>
<type 'int'>
<type 'float'>

In [8]:
a = "8"
b = 5
print a+a
print a*3
print b+b
print(a+b)

88
888
10

TypeError: cannot concatenate 'str' and 'int' objects

In [9]:
try:
    print a+b
except TypeError:
    print int(a)+int(b)

13

In [10]:
import numpy as np
import pandas as pd

ImportError: No module named numpy

In [ ]:
type(np.array([1,0,0]))

In [ ]:
type(pd.Series([1,0,0]))

### Operators

Python offers the usual operators such as +,-,/,*,=,>,<,==,!=,&,|, (sum, difference, divide, product, assignment, greater than, less than, equal - comparison,not equal, and, or, respectively).
Additionally, there are %,// and ** (modulo, floor division and ‘to the power’). Note a few specifics:

In [11]:
5/2

2

In [12]:
5.0/2

2.5

In [13]:
5%2

1

In [14]:
5==2

False

In [15]:
5!=2

True

In [16]:
(5==2)&(5!=2)

False

In [17]:
(5==2)|(5!=2)

True

### Iterators

In [18]:
for i in range(1,10):
     print(i)

1
2
3
4
5
6
7
8
9

In [19]:
i = 1
while i < 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

### Conditional Statements

In [20]:
a = 20
if a >= 22:
   print("if")
elif a >= 21:
    print("elif")
else:
    print("else")

else

### Strings and String Handling

In [25]:
a = "A string of characters, with newline \n CAPITALS, etc."
print(a)
b=5.0
newstring = a + "\n We can format strings for printing %.2f"
print(newstring %b)

for i in range(1474,1490,3):  
    st="{}@nyu.edu".format(i)
    print st

A string of characters, with newline
 CAPITALS, etc.
A string of characters, with newline
 CAPITALS, etc.
 We can format strings for printing 5.00
1474@nyu.edu
1477@nyu.edu
1480@nyu.edu
1483@nyu.edu
1486@nyu.edu
1489@nyu.edu

In [26]:
a = "ABC DEFG"
print(a[1:3])
print(a[0:5])

BC
ABC D

In [27]:
a = "ABC defg"
print(a.lower())
print(a.upper())
print(a.find('d'))
print(a.replace('de','a'))
print(a)
b = a.replace('def','aaa')
print(b)
b = b.replace('a','c')
print(b)
b.count('c')

abc defg
ABC DEFG
4
ABC afg
ABC defg
ABC aaag
ABC cccg

3

regular expression in python: https://docs.python.org/2/library/re.html

### Lists, Tuples, Dictionaries

list

In [28]:
a_list = [1,2,3,"this is a string",5.3]
b_list = ["A","B","F","G","d","x","c",a_list,3]
print(b_list)

['A', 'B', 'F', 'G', 'd', 'x', 'c', [1, 2, 3, 'this is a string', 5.3], 3]

In [29]:
a_list[0]

1

In [30]:
a_list[-1]

5.3

In [34]:
a_list[0::2]

[1, 3, 5.3]

In [38]:
import random

a = [1,2,3,4,5,6,7]
a.insert(0,0)
print(a)
a.append(8)
print(a)
a.reverse()
print(a)

print a[::-1] #reverse

random.shuffle(a) #reorder randomly
print a 

a.sort()
print(a)
a.pop()
print(a)
a.remove(3) #remove the particular value
print(a)
a.remove(a[4]) #remove the number in index 4
print(a)

[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[7, 6, 0, 5, 3, 2, 1, 8, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 4, 5, 6, 7]
[0, 1, 2, 4, 6, 7]

In [39]:
[x for x in range(10) if x%3==0] #create a list and apply a filter

[0, 3, 6, 9]

In [40]:
#String can be treated as a list of characters
a="abd ABD"
#Split a string and store it to a list
b=a.split(" ")
print b
# Join a list to string.
"@@".join(b)

['abd', 'ABD']

'abd@@ABD'

Tuple

Tuple is a list that you don't want to modify it.

In [41]:
a = (1,2,3,4)
print a
print type(a)
a[1] = 2

(1, 2, 3, 4)
<type 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [42]:
my_pets = ("Chestnut", "Tibbs", "Dash", "Bast")
(aussie,b_collie,indoor_cat,outdoor_cat) = my_pets #assign string/tuple to variable
print(aussie)
cats=(indoor_cat,outdoor_cat)
print(cats)

Chestnut
('Dash', 'Bast')

Dictionaries

Dictionaries are unordered, keyed lists. Lists are ordered, and the index may be viewed as a key.

In [43]:
a={"a":range(1),1:"abc","c":{"d":1,"e":2}}

In [44]:
type(a)

dict

In [49]:
a[0] #it is not a key

KeyError: 0

In [45]:
a[1]

'abc'

In [47]:
a["c"]["d"]

1

In [50]:
a['a'] #range(2)-->[0,1], list

[0]

In [51]:
a.keys()

['a', 1, 'c']

Sets

In [52]:
fruits = set(["apples","oranges","grapes","bananas"])
citrus = set(["lemons","oranges","limes","grapefruits","clementines"])
citrus_in_fruits = fruits & citrus   #intersection
print(citrus_in_fruits)
diff_fruits = fruits - citrus        # set difference in fruits not in cirtrus
print(diff_fruits)
diff_fruits_reverse = citrus - fruits  # set difference in citrus not in fruits
print(diff_fruits_reverse)
citrus_or_fruits = citrus | fruits     # set union
print(citrus_or_fruits)

set(['oranges'])
set(['apples', 'grapes', 'bananas'])
set(['grapefruits', 'clementines', 'lemons', 'limes'])
set(['clementines', 'grapes', 'limes', 'oranges', 'grapefruits', 'apples', 'lemons', 'bananas'])

In [53]:
a_list = ["a", "a","a", "b",1,2,3,"d",1]
print(a_list)
a_set = set(a_list)  # Convert list to set
print(a_set)         # Creates a set with unique elements
new_list = list(a_set) # Convert set to list
print(new_list)        # Obtain a list with unique elements

['a', 'a', 'a', 'b', 1, 2, 3, 'd', 1]
set(['a', 1, 2, 'b', 'd', 3])
['a', 1, 2, 'b', 'd', 3]

### Functions
In Python, functions behave like any other object, such as an int or a list. That means that you can use functions as arguments to other functions, store functions as dictionary values, or return a function from another function. This leads to many powerful ways to use functions.

In [54]:
def square(x):
    """Square of x."""
    return x*x

def cube(x):
    """Cube of x."""
    return x*x*x

In [55]:
# create a dictionary of functions

funcs = {
    'square': square,
    'cube': cube,
}

In [56]:
x = 2

print square(x)
print cube(x)

for func in sorted(funcs):
    print func, funcs[func](x)

4
8
cube 8
square 4

Variables in function.

In [58]:
def f(a=range(10)):
    for i in a:
        locals()["x_{}".format(i)]=i #local() refers to variable inside the function
        print locals()["x_{}".format(i)]

In [59]:
f()

0
1
2
3
4
5
6
7
8
9

In [60]:
x_1

NameError: name 'x_1' is not defined

In [61]:
def f(a=range(10)):
    for i in a:
        globals()["x_{}".format(i)]=i #global(), variable existing outside the function
        print globals()["x_{}".format(i)]

In [62]:
f()

0
1
2
3
4
5
6
7
8
9

In [63]:
x_1

1

# Higher-order function

A function that uses another function as an input argument or returns a function is known as a higher-order function (HOF). The most familiar examples are map and filter.

map: map applies a function to each item in an input list

filter: as the name suggests, filter creates a list of elements for which a function returns true.

reduce: a very useful function for performing some computation on a list and returning the result.

In [68]:
range(5)

[0, 1, 2, 3, 4]

In [64]:
map(square, filter(lambda x:x%2==0, range(5))) #square is a function we define before

[0, 4, 16]

In [65]:
filter(lambda x: x%2==0, range(10))

[0, 2, 4, 6, 8]

In [69]:
reduce(lambda x,y: (x*y), range(1,5)) #n!, keep multiplying the item in the list

24

In [71]:
def custom_sum(xs, transform):
    """Returns the sum of xs after a user specified transform."""
    return sum(map(transform, xs))

xs = range(5)
print custom_sum(xs, square)
print custom_sum(xs, cube)

30
100

In [73]:
0+1+8+27+64

100

In [74]:
# what does this function do?
s1 = reduce(lambda x, y: x+y, filter(lambda x: x%2==0,map(lambda x: x**2, range(1,10))))
print(s1)
print

# functional expressions and lambdas are cool
# but can be difficult to read when over-used
# Here is a more comprehensible version
s2 = sum(x**2 for x in range(2, 10, 2))
print(s2)

120

120

Generator

In [77]:
def f(x):
    for i in range(x):
        yield i/2

In [78]:
for i in f(10):
    print i

0
0
1
1
2
2
3
3
4
4

enumerate

In [81]:
# using an index in a loop
xs = [1,2,3,4]
for i in range(len(xs)):
    print i, xs[i]
print

# using enumerate
for i, x in enumerate(xs):
    print i, x

0 1
1 2
2 3
3 4

0 1
1 2
2 3
3 4

zip

In [83]:
xs = [1, 2, 3, 4]
ys = [10, 20, 30, 40]
zs = ['a', 'b', 'c', 'd', 'e']

print zip(xs,ys,zs)

for x, y, z in zip(xs, ys, zs):
    print x, y, z

[(1, 10, 'a'), (2, 20, 'b'), (3, 30, 'c'), (4, 40, 'd')]
1 10 a
2 20 b
3 30 c
4 40 d

Recursion

In [84]:
# The Fibonacci sequence is a classic recursion example

def fib1(n):
    """Fib with recursion."""

    # base case
    if n==0 or n==1:
        return 1
    # recursive caae
    else:
        return fib1(n-1) + fib1(n-2)

print [fib1(i) for i in range(10)]

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
#Recursion is very useful and easy to use,
#But it is often not computationally efficient.

### Classes

A class (or object) bundles data (known as attributes) and functions (known as methods) together. We access the attributes and methods of a class using the ‘.’ notation. Since everything in Python is an object, we have already been using this attribute acccess - e.g. when we call 'hello'.upper(), we are using the upper method of the instance 'hello' of the string class.

The creation of custom classes will not be covered in this course.

### Modules

In [85]:
import numpy
import numpy as np # using an alias
import numpy.linalg as la # modules can have submodules
from numpy import sin, cos, tan # bring trig functions into global namespace
# from numpy import * # frowned upon because it pollutes the namespace

ImportError: No module named numpy

In [ ]:
#pip install..
#conda install..
#Copy paste the module in your working directory
#Copy the module to site-packages folder and so on.

### Exercises:

1.“Write a program that prints the numbers from 1 to 100. But for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz”.

In [88]:
for x in range(1,101):
    if(x%3 == 0)&(x%5 ==0): 
        print 'FizzBuzz'
    elif x%3 == 0:
        print 'Fizz'
    elif x%5 == 0:
        print 'Buzz'
    print x

1
2
Fizz
3
4
Buzz
5
Fizz
6
7
8
Fizz
9
Buzz
10
11
Fizz
12
13
14
FizzBuzz
15
16
17
Fizz
18
19
Buzz
20
Fizz
21
22
23
Fizz
24
Buzz
25
26
Fizz
27
28
29
FizzBuzz
30
31
32
Fizz
33
34
Buzz
35
Fizz
36
37
38
Fizz
39
Buzz
40
41
Fizz
42
43
44
FizzBuzz
45
46
47
Fizz
48
49
Buzz
50
Fizz
51
52
53
Fizz
54
Buzz
55
56
Fizz
57
58
59
FizzBuzz
60
61
62
Fizz
63
64
Buzz
65
Fizz
66
67
68
Fizz
69
Buzz
70
71
Fizz
72
73
74
FizzBuzz
75
76
77
Fizz
78
79
Buzz
80
Fizz
81
82
83
Fizz
84
Buzz
85
86
Fizz
87
88
89
FizzBuzz
90
91
92
Fizz
93
94
Buzz
95
Fizz
96
97
98
Fizz
99
Buzz
100

2.Write a program to calculate the number of times a given character c occurs in a given string s. Ignore differences in capitalization, i.e., ‘a’ and ‘A’ should be treated as a single key.

In [92]:
def c(s):
    print s.lower().count('c')

In [93]:
c('abcc')

2

In [96]:
def find_char(s,c):
    from collections import Counter
    thecounter = Counter(s.lower())
    print thecounter[c]

In [98]:
find_char('abc','c')

1

3.Create a list of the cubes of x for x in [0, 10] using

a for loop

a list comprehension

the map function

In [107]:
a = []
for x in range(11):
    a.append(x**3)
a

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [108]:
[x**3 for x in range(11)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [109]:
map(cube,range(0,11))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

4.We define a modified Fibonacci sequence using the following definition:

Given terms $t_i$ and $t_{i+1}$ where $i \in [1,\infty)$, term $t_{i+2}$ is computed using:

$t_{i+2}=t_{i}+(t_{i+1})^2$

$t_1=0$, $t_2=1$, find the 5th and 10th integers in this sequence.

In [132]:
def fib2(n):
    """Fib with recursion."""

    # base case
    if n==1:
        return 0
    elif n==2:
        return 1
    # recursive caae
    else:
        return (fib2(n-1)**2) + fib2(n-2)

In [133]:
print fib2(5)

5

In [134]:
print fib2(10)

84266613096281243382112

In [135]:
print fib2(3)

1

In [136]:
print fib2(4)

2